.PianoKey {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: .3em;
}

.PianoKey__container {
    position: relative;
}

.PianoKey--white {
    background: white;
}

.PianoKey--white:hover {
    background: #ddd;
}

.PianoKey--white:active {
    background: #aaa;
}

.PianoKey--black {
    background: black;
    height: 55%;
    width: 50%;
    left: 75%;
    z-index: 1;
}

.PianoKey--black:hover {
    background: #888;
}

.PianoKey--black:active {
    background: #666;
}